# project help files
sbt
java

# project junk files
dep/
backup/

# kate junk files
**/*~

# eclipse
.classpath
.project
.settings/
**/.cache

# Vim
*.swp

# sbt
target
/project/build
/leon
/setupenv
/leon-bench

# synthesis
derivation*.dot